In [62]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import KFold
from sklearn.metrics import mean_squared_error

In [63]:
data = pd.read_csv('./data/time-between-stops-0105.csv')
data.head(5)

   t_hour  line  sequence  direction  timetaken
0      11    25        37          1       5001
1      11    38        26          2      10000
2      11    38        22          1      14996
3      11    29        20          2      29994
4      11    25        41          1      34996

In [64]:
#?pd.get_dummies
encoded_data = pd.concat([pd.get_dummies(data['t_hour'], prefix='t'),
                         pd.get_dummies(data['line'], prefix='l'),
                         pd.get_dummies(data['sequence'], prefix='s'),
                         pd.get_dummies(data['direction'], prefix='d')], axis=1)
train_y = data['timetaken'].values
train_X = encoded_data.values

In [68]:
kfold = KFold(train_y.shape[0], n_folds=5, shuffle=True)
train_mses = []
test_mses = []
for tr_idx, te_idx in kfold:
    train_cv_X = train_X[tr_idx]
    train_cv_y = train_y[tr_idx]
    
    test_cv_X = train_X[te_idx]
    test_cv_y = train_y[te_idx]
    
    lr = RandomForestRegressor(n_estimators=100)
    lr.fit(train_cv_X, train_cv_y)
    train_predict = lr.predict(train_cv_X)
    test_predict = lr.predict(test_cv_X)
    
    train_mse = mean_squared_error(train_cv_y, train_predict)
    test_mse = mean_squared_error(test_cv_y, test_predict)
    
    train_mses.append(train_mse)
    test_mses.append(test_mse)
    print 'train mse: %e' %(train_mse)
    print 'test mse: %e' %(test_mse)
    print '\n'
    
print 'average train mse: %e' %(sum(train_mses)/len(train_mses))
print 'average test mse: %e' %(sum(test_mses)/len(test_mses))

train mse: 5.995030e+13
test mse: 4.256050e+14


train mse: 5.150394e+13
test mse: 2.951654e+14


train mse: 1.001386e+14
test mse: 6.375845e+12


train mse: 6.859734e+13
test mse: 2.924730e+14


train mse: 6.753315e+13
test mse: 2.202858e+14


average train mse: 6.954467e+13
average test mse: 2.479810e+14